.topbar {
  position: fixed; /* stays on top */
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* match the layout.js subtraction */
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px;
  z-index: 1000;
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
  z-index: 1;
}

.iconWrapper img {
  object-fit: contain;
  position: fixed;
  top: 40px;
  left: 0px;
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: top 24px;;
  z-index: 1000;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.5px;
  color: #ffffff;
  text-shadow: 0 2px 4px rgb(0, 0, 0);
  pointer-events: none; /* so clicks pass through */
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
  margin-right: 18px; /* move all nav items slightly to the left */

}

.navLink {
  color: #000000;
  text-shadow: 2px 2px 5px rgb(255, 255, 255);
  font-size: 15px;
  opacity: 0.9;
  transition: opacity 0.2s;
  display: flex;
  align-items: center;
}
.navLink:hover {
  opacity: 1;
}

.icon {
  font-size: 22px;
  color: #000000;
  opacity: 0.9;
  transition: opacity 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  
}
.icon:hover {
  opacity: 1;
}
