.sidebarWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 60px;        /* push below topbar */
  height: calc(100% - 60px);
}

.sidebar {
  width: 50px;
  background: #004675;
  color: white;
  padding: 90px 10px 30px 10px; /* 30px existing + 60px extra at top */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 100%;
  top: 60px;               /* align with topbar */
  justify-content: center;
}

.menuItem {
  position: relative;
  cursor: pointer;
}

.button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover {
  background-color: #0c4972ff;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
  position: absolute;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);
  background: #000;
  color: #fff;
  padding: 5px 10px;
  white-space: nowrap;
  font-size: 12px;
  pointer-events: none;
  z-index: 9999;
  border: white solid 1px;
}
.menuItem:hover .tooltip {
  visibility: visible;
  opacity: 1;
}


.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 6px;
}

.active .button {
  background-color: #0c4972ff;
}
